@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow:ital,wght@1,100&family=Catamaran:wght@100;500;700;900&family=Courier+Prime&family=Dancing+Script:wght@700&family=Inconsolata:wght@300;400;500&family=Inter&family=M+PLUS+1p:wght@300;400;500&family=Manrope:wght@500&family=Martian+Mono:wght@200&family=Playfair+Display:ital,wght@0,400;1,500&family=Rajdhani:wght@300&family=Roboto+Mono:ital,wght@0,500;1,300;1,400&family=Sora:wght@200&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow:ital,wght@1,100&family=Catamaran:wght@100;500;700;900&family=Courier+Prime&family=Dancing+Script:wght@700&family=Inconsolata:wght@300;400;500&family=Inter&family=M+PLUS+1p:wght@300;400;500&family=Manrope:wght@500&family=Martian+Mono:wght@200&family=Playfair+Display:ital,wght@0,400;1,500&family=Rajdhani:wght@300&family=Roboto+Mono:ital,wght@0,500;1,300;1,400&family=Roboto:wght@300&family=Sora:wght@200&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow:ital,wght@1,100&family=Catamaran:wght@100;500;700;900&family=Courier+Prime&family=Dancing+Script:wght@700&family=Inconsolata:wght@300;400;500&family=Inter&family=M+PLUS+1p:wght@300;400;500&family=Manrope:wght@500&family=Martian+Mono:wght@200&family=Playfair+Display:ital,wght@0,400;1,500&family=Rajdhani:wght@300&family=Roboto+Mono:ital,wght@0,500;1,300;1,400&family=Roboto:wght@300;400&family=Sora:wght@200&family=Space+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', 'sans-serif'; }

#main-div {
  width: 100%;
  height: 100vh;
  background-color: #E6E6E6; }
  #main-div .head-section {
    width: 100%;
    height: 45px;
    border: 1px #40ff00 solid;
    min-width: 310px;
    max-width: 450px;
    display: flex;
    align-items: center; }
    #main-div .head-section .side-bare-button {
      width: 35px;
      height: 35px;
      border: none;
      background: none;
      cursor: pointer; }
      #main-div .head-section .side-bare-button .bi-list {
        font-size: 1.8rem; }
    #main-div .head-section .Calculator-state {
      margin-left: 15px; }
    #main-div .head-section .darke-mode-button {
      width: 35px;
      height: 35px;
      margin-left: 5%;
      border: none;
      background: none;
      cursor: pointer; }
      #main-div .head-section .darke-mode-button .bi-moon-fill {
        font-size: 1.4rem; }
    #main-div .head-section .history-button {
      width: 35px;
      height: 35px;
      border: none;
      background: none; }
      #main-div .head-section .history-button .bi-clock-history {
        font-size: 1.4rem;
        cursor: pointer; }
  #main-div .input-section {
    width: 100%;
    height: 105px;
    border: 1px red solid;
    margin-top: 20px;
    max-width: 450px;
    min-width: 310px; }
    #main-div .input-section .number-box {
      width: 88%;
      height: 20px;
      border: 1px #fae100 solid;
      margin-left: 11%;
      margin-top: 4px; }
      #main-div .input-section .number-box .text-number-box {
        font-family: inherit;
        float: right;
        font-size: 0.9rem;
        margin-right: 3%; }
    #main-div .input-section .input-fild {
      width: 94%;
      height: 70px;
      display: inline-block;
      margin-top: 4px;
      margin-left: 5%;
      outline: none;
      background: none;
      font-size: 2.5rem;
      appearance: none;
      direction: rtl;
      font-family: inherit; }
      #main-div .input-section .input-fild::-webkit-inner-spin-button {
        appearance: none; }
      #main-div .input-section .input-fild::placeholder {
        font-family: inherit;
        color: black; }
  #main-div .key-section {
    width: 100%;
    height: 500px;
    border: 1px orangered solid;
    margin-top: 10px;
    min-width: 310px;
    max-width: 450px; }

/*# sourceMappingURL=style.css.map */
